:root {
  --white-color: #ffffff;
  --contact-info: #434455;
  --accent-color: #2e2f42;
  --button-purple-color: #4d5ae5;
  --text-color: #434455;
  --grey-text-color: #f4f4fd;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --close-button-modal: #e7e9fc;
  --close-button-border: 1px solid rgba(0, 0, 0, 0.1);
  --form-text-titles: #8e8f99;
}

body {
  background-color: var(--white-color);
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  display: inline-block;
}

/* HEADER */

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site-nav .link {
  display: block;
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.contact-info .link {
  color: var(--contact-info);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.main-nav {
  display: flex;
  margin-left: 76px;
}
.main-nav .item + .item {
  margin-left: 40px;
}

.contact-info {
  display: flex;
  margin-left: auto;
}

.contact-info .item + .item {
  margin-left: 40px;
}

.main-nav .link {
  position: relative;
}

.main-nav .link.current-page::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px; /* Adjust as needed */
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  background-color: #4d5ae5;
  border-radius: 2px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-list .item {
  /* (100% - (1*24)) - 4 */
  width: calc((100% - (3 * 24px)) / 4);
  margin-right: 24px;
}

.icon-features {
  display: flex;
  width: 264px;
  height: 112px;
  background-color: var(--grey-text-color);
  align-items: center;
  justify-content: center;
}

.feature-icon {
  width: 64px;
  height: 64px;
}

.features-list .item:nth-child(4n) {
  margin-right: 0;
}

.devices {
  display: flex;
  flex-wrap: wrap;
}
.devices .item {
  /* (100% - (1*24)) - 4 */
  width: calc((100% - (2 * 24px)) / 3);
  margin-right: 24px;
}

.devices .item:nth-child(3n) {
  margin-right: 0;
}

.section .workers {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
}
.card {
  box-shadow: var(--card-shadow);
}

.social-icons {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

.icon-bg {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--button-purple-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social-icons.iconsfooter .social-icon {
  width: 24px;
  height: 24px;
}
.social-icon {
  width: 16px;
  height: 16px;
}

.section.workers {
  background-color: var(--grey-text-color);
  margin-top: 120px;
  margin-bottom: 120px;
}

.workers .item {
  /* (100% - (1*24)) - 4 */
  width: calc(100% / 4 - 24px);
  margin-right: 24px;
}

.workers .item:nth-child(4n) {
  margin-right: 0;
}

.worker-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

/* HERO */
.overlay {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: 600px;
  margin-bottom: 120px;
}

.hero .title {
  min-width: 496px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  margin-bottom: 48px;
}

.hero .hero-button {
  padding: 16px 32px;
  color: var(--white-color);
  background-color: var(--button-purple-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
}

.hero .hero-content {
  text-align: center;
  margin-bottom: 120px;
  padding-top: 188px;
  padding-right: 316px;
  padding-bottom: 188px;
  padding-left: 316px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section .title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.section .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer .text {
  color: var(--grey-text-color);
  letter-spacing: 0.02em;
}

/* LOGO */

.site-nav .logo-text {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.logo-text-footer {
  color: var(--white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

.logo {
  color: var(--button-purple-color);
}

/* MAIN SECTIONS TITLE */

.section-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section.about .text {
  margin-top: 0;
  margin-bottom: 120px;
}

/* Buttons hover and focus(page Portfolio) */

.filters .button {
  border: 1px solid var(--close-button-modal);
  border-radius: 4px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
  background-color: var(--grey-text-color);
  color: var(--button-purple-color);
}

.filters .button:hover,
.filters .button:focus {
  background-color: var(--button-purple-color);
  color: var(--grey-text-color);
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.img-thumb {
  position: relative;
  overflow: hidden;
}

.examples .img-thumb::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--button-purple-color);
  transform: translateY(+100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples:hover .img-thumb::before {
  opacity: 1;
  transform: translateY(0);
}
.examples .card-description.text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(+200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples:hover .card-description.text {
  position: absolute;
  top: 40px;
  left: 32px;
  right: 32px;
  opacity: 1;
  color: var(--white-color);
  transform: translateY(0);
}

/* FOOTER */
.footer .title {
  font-family: "Roboto";
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 16px;
}
.footer-content {
  display: flex;
}
.footer-description {
  margin-top: 0;
  margin-bottom: 0;
  width: 264px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  min-height: 316px;
  background-color: var(--accent-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .social-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer .icon-socialmedia {
  display: inline-block;
  content: "";
  width: 40px;
  height: 40px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-color: var(--button-purple-color);
  background-position: center;
  border-radius: 50%;
}

.footer .contacts {
  max-width: 208px;
  max-height: 80px;
  margin-left: 120px;
  margin-right: 80px;
}

/* PAGE PORTFOLIO */

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-left: 271px;
  margin-right: 271px;
  margin-bottom: 72px;
  margin-top: 96px;
}

.filters .button {
  cursor: pointer;
}

.button-1 {
  width: 69px;
}
.button-2 {
  width: 116px;
}
.button-3 {
  width: 78px;
}
.button-4 {
  width: 101px;
}
.button-5 {
  width: 126px;
}
.filters .item {
  margin-right: 24px;
}

.filters .item:nth-child(5n) {
  margin-right: 0;
}

/* FLEX BOX FOR MAIN SECTION PAGE 2 */
.card-set {
  margin-bottom: 120px;
}

.services {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.examples {
  box-shadow: var(--card-shadow);
  overflow: hidden;
}
.services .item {
  /* (100% - (1*24)) - 4 */
  flex-basis: calc((100% - 48px -24px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
  text-align: left;
}

.services .item:nth-child(3n) {
  margin-right: 0;
}
.services .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

/* Section Customers */
.section.customers {
  margin-bottom: 120px;
}

.customers-icons {
  display: flex;
  gap: 24px;
}

.icon-customer {
  display: flex;
  width: 168px;
  height: 88px;
  /* background-size: 16px 16px; */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  align-items: center;
  justify-content: center;
}

.icon-customers {
  width: 104px;
  height: 56px;
}

/* MODAL WINDOW */
.modal .closebtn {
  position: absolute;
  margin: 0;
  padding: 0;
  background: none;
  border: none;

  top: 24px;
  right: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 584px;
  background-color: var(--white-color);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-container {
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;

  background-color: var(--close-button-modal);
  border-radius: 50%;
  border: var(--close-button-border);
  justify-content: center;
  align-items: center;
}

.close-button {
  display: block;
  width: 8px;
  height: 8px;
}

/* SUBSCRIBE SECTION */
.subscribe {
  position: relative;
  width: 453px;
  height: 80px;
}

.subscribe .email-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  /* padding: 8px 212px 16px; */
}

.send {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 165px;
  height: 40px;
  background-color: var(--button-purple-color);
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
}

.send .title {
  margin: 0;
}

.send svg {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

/* FORM SECTION */
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;

  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
  color: var(--form-text-titles);
}

.label {
  display: block;
  position: relative;
  margin-bottom: 26px;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 36px;

  outline: none;
  border: 1px solid var(--form-text-titles);
  border-radius: 4px;
}
.form-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 15px;
  height: 12px;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-40px, -30px);
}

.form-input:focus ~ .label-icon,
.form-input:not(:placeholder-shown) ~ .label-icon {
  fill: var(--button-purple-color);
}

.form-input:focus,
.form-input:not(:placeholder-shown),
textarea:focus,
textarea:not(:placeholder-shown) {
  border: 1px solid var(--button-purple-color);
}

.comment-label {
  position: relative;
  margin-bottom: 16px;
}

.comment {
  position: absolute;
  top: -10px;
  left: 0;
}

textarea {
  resize: none;
  width: 100%;
  padding-top: 8px;
  padding-left: 16px;

  outline: none;
  border: 1px solid var(--form-text-titles);
  border-radius: 4px;
}

.checkbox {
  position: absolute;
  appearance: none;
}

.checkbox-label {
  position: relative;
  height: 16px;
  margin-bottom: 24px;
}

.policy {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.checkbox-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(0.9);
  width: 16px;
  height: 16px;
  border: 1px solid var(--form-text-titles);
  background-color: var(--white-color);
  border-radius: 2px;
  fill: transparent;

  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.checkbox:checked + .icon-wrapper .checkbox-icon {
  margin: 0;
  padding: 0;
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-color: var(--button-purple-color);
  border-color: var(--button-purple-color);
  fill: var(--white-color);
  transform: translateY(-50%) scale(1.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn {
  display: block;
  width: 169px;
  height: 56px;
  color: var(--white-color);

  background: var(--button-purple-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--button-purple-color);
  border-style: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.submit-btn.form-container {
  margin-top: 0;
}
/* /FORM SECTION */
