:root{
    --white-color: #FFFFFF;
    --contact-info: #434455;
    --accent-color: #2E2F42;
    --button-purple-color: #4D5AE5;
    --text-color: #434455;
    --grey-text-color: #F4F4FD;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

body {
    background-color: var(--white-color);
    color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
}

img {
    display: block;
    max-width: 100%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;
    display: inline-block;
}

/* HEADER */

.site-nav .link{
    display: block;
    color:var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

.site-nav{
    display: flex;
    align-items: center;
    margin-bottom: 96px;
}

.contact-info .link{
    color: var(--contact-info);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5; 
}

.main-nav{
    display: flex;
    margin-left: 76px;
}
.main-nav .item + .item{
    margin-left: 40px;
}

.contact-info{
    display: flex;
    margin-left: auto;
}

.contact-info .item + .item{
    margin-left: 40px;
}


.features-list{
    display: flex;
    flex-wrap: wrap;
}
.features-list .item{
    /* (100% - (1*24)) - 4 */
    width: calc((100% - (3*24px))/4);
    margin-right: 24px;
}

.features-list .item:nth-child(4n){
    margin-right: 0;
}

.devices{
    display: flex;
    flex-wrap: wrap;
}
.devices .item{
    /* (100% - (1*24)) - 4 */
    width: calc((100% - (2*24px))/3);
    margin-right: 24px;
}

.devices .item:nth-child(3n){
    margin-right: 0;
}

.workers{
    display: flex;
    flex-wrap: wrap;
}
.card{
    box-shadow: var(--card-shadow);
}
.workers .item{
    /* (100% - (1*24)) - 4 */
    width: calc((100% - (3*24px))/4);
    margin-right: 24px;
}

.workers .item:nth-child(4n){
    margin-right: 0;
}

.worker-card {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

/* HERO */

.hero{
    height: 600px;
    background-color: var(--accent-color);
    text-align: center;
    margin-bottom: 120px;
    padding-top: 188px;
    padding-right: 316px;
    padding-bottom: 188px;
    padding-left: 316px;

}

.hero .title{
    min-width: 496px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 48px;
}

.hero .hero-button{
    padding: 16px 32px;
    color:var(--white-color);
    background-color: var(--button-purple-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}


.section{
    padding-top: 120px;
    padding-bottom: 120px;
}


.section.no-padding{
    padding-top: 0;
    padding-bottom: 0;
}

.section .title{
    margin-top: 0;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}


.section .text{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/* FOOTER */

.footer .text{
    color: var(--grey-text-color);
    letter-spacing: 0.02em;
}

/* LOGO */

.site-nav .logo-text{
 color: var(--accent-color);
 font-family: 'Raleway', sans-serif;
 font-weight: 800;
 font-size: 18px;
 line-height: 1.17;
 
}
.logo-text-footer{
    color: var(--white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}

.logo{
    color: var(--button-purple-color);
}


/* MAIN SECTIONS TITLE */

.section-title{
    margin-top: 0;
    margin-bottom: 72px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.section.about .text{
    margin-top:0;
    margin-bottom: 120px;
}

/* Buttons hover and focus(page Portfolio) */

.filters .button{
    border: none;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    background-color: var(--grey-text-color);
    color: var(--button-purple-color);
}

.filters .button:hover,
.filters .button:focus{
    background-color: var(--button-purple-color);
    color: var(--grey-text-color);
}


/* FOOTER */
.footer-description{
    margin-top: 0;
    margin-bottom: 0;
}
.footer{
    height: 316px;
    background-color: var(--accent-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

/* PAGE PORTFOLIO */

.filters{
    display: flex;
    flex-wrap: wrap;
    margin-left: 271px;
    margin-right: 271px;
    margin-bottom: 72px;

}

.button-1{
    width: 69px;
}
.button-2{
    width: 116px;
}
.button-3{
    width: 78px;
}
.button-4{
    width: 101px;
}
.button-5{
    width: 126px;
}
.filters .item{
    margin-right: 24px;
}

.filters .item:nth-child(5n){
    margin-right: 0;
}

/* FLEX BOX FOR MAIN SECTION PAGE 2 */

.services{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    margin-right: -24px;
    margin-bottom: -48px;
}
.examples{
    box-shadow: var(--card-shadow);
}
.services .item{
    /* (100% - (1*24)) - 4 */
    flex-basis: calc(100% /3 - 20);
    margin-right: 24px;
    margin-bottom: 48px;
}

.cards{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.services .item:nth-child(3n){
    margin-right: 0;
}

.card-set{
    margin-bottom: 120px;
}