@import "./variables";
@import "../utils/breakpoints";

.section.workers {
  background-color: $grey-text-color;
}

.worker-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.card {
  box-shadow: $card-shadow;
  background-color: $white-color;
  max-width: 264px;
}

@media screen and (min-width: $mobile) {
  .section .workers .item {
    /* (100% - (1*24)) - 4 */
    max-width: 264px;
    @media screen and (max-width: $max-tablet) {
      &:not(:last-child) {
        margin-bottom: 72px;
      }
    }
  }
  @media screen and (max-width: $max-tablet) {
    .section .workers {
      padding-left: 66px;
      padding-right: 66px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .section .workers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section .workers .item {
    max-width: 264px;
    margin-right: 24px;
    margin-bottom: 64px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    @media screen and (max-width: $max-desktop) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .section .workers {
    flex-wrap: nowrap;
  }
  .section .workers .item {
    flex-basis: calc((100% - (3 * 24px)) / 4);
    margin-right: 24px;
    margin-bottom: 0;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
