@import "./variables";
@import "../utils/breakpoints";

.reviews {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.devices {
  display: flex;
  flex-wrap: wrap;
}
.devices .item {
  /* (100% - (1*24)) - 4 */
  width: calc((100% - (2 * 24px)) / 3);
  margin-right: 24px;
}

.devices .item:nth-child(3n) {
  margin-right: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
