@import "./variables";
@import "../utils/breakpoints";

.services {
  padding: 0;
  margin: 0;
  cursor: pointer;
  margin-bottom: 120px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.services .item {
  text-align: left;
  margin-bottom: 48px;

  @media screen and (min-width: $tablet) and (max-width: $max-desktop) {
    flex-basis: calc((100% - 24px) / 2);
    margin-right: 24px;
    margin-bottom: 72px;
    &:nth-last-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - (2 * 24px)) / 3);
    margin-right: 24px;
    margin-bottom: 72px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
.examples {
  box-shadow: $card-shadow;
  overflow: hidden;
}

.cards {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.img-thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.img-thumb img {
  width: 396px;
  height: 280px;

  @media screen and (min-width: $tablet) {
    width: 356px;
    height: 300px;
  }
  @media screen and (min-width: $desktop) {
    width: 360px;
  }
}

.examples .img-thumb::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: $button-purple-color;
  transform: translateY(+100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples:hover .img-thumb::before {
  opacity: 1;
  transform: translateY(0);
}
.examples .card-description.text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(+200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples:hover .card-description.text {
  position: absolute;
  top: 40px;
  left: 32px;
  right: 32px;
  opacity: 1;
  color: $white-color;
  transform: translateY(0);
}
