$white-color: #ffffff;
$contact-info: #434455;
$accent-color: #2e2f42;
$button-purple-color: #4d5ae5;
$text-color: #434455;
$grey-text-color: #f4f4fd;
$card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$close-button-modal: #e7e9fc;
$close-button-border: 1px solid rgba(0, 0, 0, 0.1);
$form-text-titles: #8e8f99;
